@import '../veriables';
footer {
    color: #fff;
    background-color: $PrimaryBlue100;
    width: 1440px;
    height: 471px;
    p {
        font-style: normal;
        width: 576px;
        font-size: 32px;
        font-weight: 600;
        line-height: 120%;
    }
}
.footer__logo {
    font-size: 32px;
    font-weight: 700;
    line-height: 170%
}