@import '../veriables';
.structure {
    margin-top: 300px;
}
.structure__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    &::after {
        position: relative;
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 473px;
        height: 2px;
        background-color: #000;
        margin-right: -100%;
        right: -6px;
    }
}
.structure__title {
    font-family: Montserrat;
    color: $Grayscale50;
    font-size: 36px;
    font-weight: 600;
    line-height: 140%;
}
.structure__blocks {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
}
.structure__block {
    overflow: hidden;
}
.structure__blocks img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.structure__blocks p {
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}
.structure__blocks .box_1 {
    grid-column-start: 1;
    grid-column-end: 3;
    p{
        top: 226px;
        left: 20px;
        width: 395px;
    }
}
.structure__blocks .box_2 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    p {
        top: 530px;
        left: 20px;
        width: 233px;
    }
}
.structure__blocks .box_3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    p {
        top: 530px;
        left: 330px;
        width: 233px;
    }
}
.structure__blocks .box_4 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    p{
        top: 500px;
        left: 630px;
        width: 233px;
    }
}
.structure__blocks .box_5 {
    grid-column-start: 4;
    grid-column-end: 5;
    p{
        top: 226px;
        right: 40px;
        width: 233px;
    }
}
.structure__blocks .box_6 {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    p {
        top: 530px;
        right: 40px;
        width: 233px;
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .structure {
        margin-top: 50px;
    }
    .structure__blocks {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
        grid-column-gap: 15px;
        grid-row-gap: 10px;
    }
    .structure__blocks .box_1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .structure__blocks .box_2 {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .structure__blocks .box_3 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        p {
            top: 530px;
            left: 400px;
            width: 233px;
        }
    }
    .structure__blocks .box_4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
        p{
            top: 1140px;
            left: 20px;
            width: 233px;
        }
    }
    .structure__blocks .box_5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        p{
            top: 850px;
            right: 120px;
            width: 233px;
        }
    }
    .structure__blocks .box_6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        p{
            top: 1140px;
            right: 120px;
            width: 233px;
        }
    }
}
@media screen and (max-width: 767px) {
    .structure {
        margin-top: 50px;
    }
    .structure__subtitle {
        font-size: 12px;
    }
    .structure__title {
        font-size: 20px;
        width: 100%;
        height: 56px;
    }
    .structure__blocks {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: 300px;
        grid-row-gap: 10px;
    }
    .structure__blocks .box_1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .structure__blocks .box_2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .structure__blocks .box_3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        p{
            top: 830px;
            left: 20px;
            width: 233px;
        }
    }
    .structure__blocks .box_4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 6;
        p{
            top: 1420px;
            left: 20px;
            width: 233px;
        }
    }
    .structure__blocks .box_5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        p{
            top: 1770px;
            left: 20px;
            width: 233px;
        }
    }
    .structure__blocks .box_6 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
        p{
            top: 2060px;
            left: 20px;
            width: 233px;
        }
    }
}